main /*Especifidad 001*/{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    gap: 1.5em;  
    padding: 1em;  
}
main h2 /*Especifidad 002*/{
    grid-column: 1 / -1;
    text-align: center;
}
main article /*Especifidad 001*/{
    border-radius: 1.5em;
    padding: 2em;
    border: 0.2em solid #014069;
    margin-bottom: 2em;
    overflow: hidden;
    background-color: #035286;
    box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.15);
}

article h2 /*Especifidad 002*/{
    text-align: center;
    font-size: 1.5em;
    color: #f4f7fc;
    margin-bottom: 1em;
}


article p /*Especifidad 003*/{
    font-size: 1em;
    color: #f4f7fc;
    margin: 0.5em 0;
}

main h2 /*Especifidad 001*/{
    font-family: 'Arial', sans-serif;
}

main /*Especifidad 001*/{
    padding: 2em;
}


article:hover /*Especifidad 012*/{
    transform: scale(1.03); 
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}