section {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 0.5em;
    justify-items: center;
    padding: 0.5em;
    width: 80%;
    max-width: 40em;
    margin: 0 auto;
    height: auto;
}

section h2 {
    grid-column: span 4;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

section article {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #f0f0f0;
    border: 0.0625em solid #ccc;
    border-radius: 0.5em;
    cursor: pointer;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    aspect-ratio: 1 / 1.5;
}

section article[data-state=flip] {
    transform: rotateY(180deg);
}

section article[data-state=revealed] {
    transform: rotateY(180deg);
}

section article h3,
section article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    color: black;
    background: #1C7CCC;
    backface-visibility: hidden;
}
section article h3 {
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

section article img {
    transform: rotateY(180deg);
}

@media screen and (max-widt: 480){
    section article h3{
        font-size: 0.6rem;
    }
}