@keyframes light {
    from{background-color: #000A;} to{background-color: red;}
}
@keyframes out{
    from{background-color: red;} to{background-color: #000A;}
}

main {
    width: 60%;
    height: 50%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5% 3%;
    align-items: center;
}

main h2 {
    grid-column: 1 / -1;
    text-align: center;
}

main div {
    background-color: #000A;
    border: 5px solid black;
    aspect-ratio: 1;
    border-radius: 50%;
}

main button:first-of-type {
    grid-column: 2 / span 1;
}

main p {
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;

}

main.load div:nth-child(2) {animation: 0.5 light forwards;}
main.load div:nth-child(3) {animation: 0.5s light 0.5s forwards;}
main.load div:nth-child(4) {animation: 0.5s light 1s forwards;}
main.load div:nth-child(5) {animation: 0.5s light 1.5s forwards;}

main.unload div:nth-child(2),
main.unload div:nth-child(3),
main.unload div:nth-child(4),
main.unload div:nth-child(5) {animation: 0.5s out forwards}